body{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
    text-align: justify;
    text-align: center;
    vertical-align: middle;
    
    

}

#header{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 100px;
    background: #ebebeb;
    text-align: center;
    vertical-align: middle;
    float: center;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;

}
#nav{
    
    width: 960px;
    height: 100px;
    background: #ebebeb;
    text-align: center;
    float: center;
    margin: auto; 
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section{

    width: 495px;
    height: 300px;
    color: #777; 
    background: #ebebeb;
    float: left;
    clear: left;

}

#article{

    width: 475px;
    height: 200px;
    color: #ebebeb;
    background: #777;
    margin-top: 70px;
    margin-left: 10px;
}

#div{

    width: 435px;
    height: 50px;
    color: #777; 
    background: #ebebeb;
    margin-left: 20px;
    margin-top: 40px;

}

#paragraph{

    width: 435px;
    height: 50px;
    color: #777; 
    background: #ebebeb;
    margin-left: 20px;

}

#aside{
    
    width: 445px;
    height: 300px;
    color: #777; 
    background: #ebebeb;
    float: right;
    margin-bottom: 25px;
    clear: right;
    
}

#footer{
   
    
    width: 960px;
    height: 100px;
    background: #ebebeb;
    text-align: center;
    clear: both;
    overflow: auto;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
